.is-hidden {
  display: none !important;
  visibility: hidden;
}

.is-clearfix {
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.is-printable {
  display: none;
}

@media print {
  .is-unprintable {
    display: none;
  }
  .is-printable {
    display: block;
  }
}
