.report-header {
  padding-top: 20px;
}

.search-bar {
  padding: 40px 0;
}

.question-title {
  width: 100%;
  padding: 30px 0;
  color: $fifth-color;
  background-color: $report-primary-color;
}

.question-subtitle {
  width: 100%;
  padding: 30px 0;
  margin-bottom: 30px;
  background-color: $report-thirth-color;
  border-bottom: $border-dotted;
}

.question-intro {
  margin-bottom: 30px;
}

@media print {
  * {
    //background: transparent !important;
    //color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

   a[href^="#"]:after,
   a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  h1, h2, h3, h4 {
    margin: .5em 0;
  }

  .question-title {
    padding: 15px 0;
    .title {
      margin: 0;
    }
  }

  .question-subtitle {
    padding: 10px 0;
  }
}
