<ul>
  <li class="item-selector">
    <span class="current">
      <span class="item-color"></span>
      <span class="item-text" id="currentText">Select a product</span>
      <span class="item-arrow"></span>
    </span>
    <ul class="item-selector-child">
      {{#each products}}
        <li><a href="#{{name}}" data-name="{{name}}">{{name}}</a></li>
      {{/each}}
    </ul>
  </li>
  <li class="item-fix">
    <span class="item-color"></span>
    <span class="item-text">Average</span>
  </li>
</ul>
