<div class="is-unprintable">
  <div class="wrap">
    <div class="row">
      <div class="grid-12">
        <p>To customized the report, select the desired question, then target you wish to review.</p>
      </div>
    </div>
    <div class="row">
      <div class="grid-4">
        <label>1.</label>
        <select name="targets" id="targetSelect" multiple="multiple" data-placeholder="All targets">
          <!--<option value="all" default>Select targets</option>-->
          {{#each targets}}
            <option value="{{id}}">{{text}}</option>
          {{/each}}
        </select>
      </div>
      <div class="grid-4">
        <label>2.</label>
        <select name="questions" id="questionSelect" placeholder="All questions">
          <option value="all" default>Select questions</option>
          {{#each questions}}
            <option value="{{id}}">{{text}}</option>
          {{/each}}
        </select>
      </div>

      <div class="grid-2">
        <button id="apply" type="button">Apply</button>
      </div>
      <div class="grid-2">
        <label class="checkbox"><input type="checkbox" name="criteria" id="toggleCriteria" checked> Criteria</label>
      </div>
    </div>
  </div>
</div>

<div class="is-printable">
  <div class="wrap">
    <div class="row">
      <div class="grid-12">
        <h2 class="mod-search-label">Showing:</h2>
        <div id="currentQuestion" class="mod-search-current">All questions</div>
        <div id="currentTarget" class="mod-search-current">All targets</div>
      </div>
    </div>
  </div>
</div>
